*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header and nev */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nev-title{
    font-weight: 800;
    font-size: 45px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
}
.text-primary{
    color: #FD6E0A;
}

.orange-btn{
    color: white;
    font-size: 20px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
}
